@charset 'UTF-8';



.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.container.timeonline {
  margin-top: 5.6rem;
}

.welcome__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.welcome__section .welcome__feed {
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.category-nav {
  background-color: #fff;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
}

.category-nav h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.category-nav .more {
  display: block;
}

/* .entry-list {
  width: 100%;
  background-color: #fff;
}

.entry-list>.item:not(:last-child) {
  border-bottom: 1px solid rgba(178, 186, 194, .15);
}

.content-box {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.5rem 2rem;
}

.content-box,
.info-bo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 0;
}

.meta-row {
  font-size: 1rem;
  color: #b2bac2;
}

.meta-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  white-space: nowrap;
}

.meta-list .item:not(:last-child):after {
  content: "\B7";
  margin: 0 .4em;
  color: #b2bac2;
}

.meta-list .item.recommended[data-v-d13ddee8] {
  font-weight: 500;
  color: #f70;
}

.meta-list .item.recommended {
  font-weight: 500;
  color: #f70;
}

.meta-list .item.post {
  font-weight: 500;
  color: #b71ed7;
}

.title-row {
  margin: .5rem 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #2e3135;
}

.title:visited {
  color: #909090;
}

#home .action-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
}

#home .abstract-row {
  display: -webkit-box;
  margin-top: .5rem;
  max-height: 3.2em;
  font-size: 1.167rem;
  line-height: 1.6;
  letter-spacing: .01em;
  color: #2e3135;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#home .action-row {
  margin-top: 1.1rem;
}

.action-list>.item.like {
  padding: 0;
}


#home .action-list>.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding: 0 .8rem;
  line-height: 1;
  color: #b2bac2;
  border-radius: 1px;
  border: 1px solid #edeeef;
  height: 1.5rem;
  font-size: 1rem;
}

.action-list>.item .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .8rem;
  height: 100%;
  color: inherit;
}

.action-list>.item .count {
  margin-left: .2em;
  font-weight: 700;
}

.action-list>.item.comment {
  margin-left: -1px;
  padding: 0;
} */